<nav class="bottom-nav">
  <a href="/tutor/assignments" class="bottom-nav-item" data-page="assignments">
    <span class="material-symbols-outlined">assignment</span>
    <span>Assignments</span>
  </a>
  <a href="/tutor/assignments/builder/new/step/1" class="bottom-nav-item" data-page="create">
    <span class="material-symbols-outlined">add_circle</span>
    <span>Create</span>
  </a>
  <a href="/tutor" class="bottom-nav-item" data-page="dashboard">
    <span class="material-symbols-outlined">dashboard</span>
    <span>Dashboard</span>
  </a>
  <a href="/messages" class="bottom-nav-item" data-page="messages">
    <span class="material-symbols-outlined">chat</span>
    <span>Messages</span>
  </a>
</nav>
