<nav class="bottom-nav">
  <a href="/tutor" class="bottom-nav-item" data-page="dashboard">
    <span class="material-symbols-outlined">dashboard</span>
    <span>Overview</span>
  </a>
  <a href="/tutor" class="bottom-nav-item" data-page="courses">
    <span class="material-symbols-outlined">school</span>
    <span>Courses</span>
  </a>
  <a href="/tutor" class="bottom-nav-item" data-page="analytics">
    <span class="material-symbols-outlined">analytics</span>
    <span>Analytics</span>
  </a>
  <a href="/messages" class="bottom-nav-item" data-page="messages">
    <span class="material-symbols-outlined">chat</span>
    <span>Messages</span>
  </a>
</nav>