<div class="pf-topbar" id="pf-topbar">
  <div class="container">
    <div class="pf-topbar-brand"><a href="/">LearnBridge</a></div>
    <div class="pf-topbar-nav">
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      <a href="/portfolio">Portfolios</a>
    </div>
  </div>
</div>
<header class="pf-header" id="pf-header">
  <div class="container">
    <div class="pf-avatar" id="pf-avatar">?</div>
    <div style="flex:1">
      <h1 class="pf-name" id="pf-name">-</h1>
      <p class="pf-headline" id="pf-headline">-</p>
      <p class="pf-bio" id="pf-bio"></p>
      <div class="pf-gallery" id="pf-gallery"></div>
    </div>
  </div>
</header>
